body{
    width: 98vw;
    height: 225vh;
    padding: 0;
    margin: 0;
}
.disco{
    width: 100px;
    height: 100px;
}
.voador{
    width: 100px;
    animation: voador 5s linear infinite;
}
.header{
    width: 99,5vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid greenyellow;
    border-radius: 15px;
    box-shadow: inset 0 0 25px 0 greenyellow, 0 0 25px 0 greenyellow;
}
.logo{
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 115px;
}
.logo1{
    width: 400px;
    height: 200px;
}
.container{
    height: 175vh;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.card{
    width: 270px;
    height: 150px;
    border: 4px solid greenyellow;
    box-shadow: inset 0 0 25px 0 greenyellow, 0 0 25px 0 greenyellow;
    border-radius: 15px;
    margin-top: 10px;
    size-adjust: 30%;

}
.card >img{
    width: 100% ; 
    height: 100%;
}
.card >strong{
    display: flex;
    justify-content: center;;
}
.card >span{
    display: flex;
    justify-content: center;
}
.card:hover{
    transform: scale(1.02);
    border: 6px solid greenyellow;
    box-shadow: inset 0 0 25px 0 greenyellow, 0 0 25px 0 greenyellow;
}